.arrowDiv{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 30rem;
    background-color : skyblue;
    clip-path : polygon(0 0, 80% 0, 100% 50%, 80% 100%, 100% 100%, 0 100%);
    background : linear-gradient(to right, white, skyblue);
    font-size : 2rem;
    margin-left: 10%;
}
.arrowTitle{
    margin-left:2rem;
}
.textDiv{
    font-weight : bold;
    font-size : xx-large;
    text-align: center;
}